body {
    margin: 0;
    font-family: "Source Sans Pro", sans sarif;
  }
  
  .header {
    
   background-color: #283593;
    padding: 0 45px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav a {
    
    color: #fff;
    text-decoration: none;
    display: block; 
    transition: all 0.3s  ease-out;
  }
  
  
  .nav a:hover {
    color: #c5cae9;
    transform: rotate(5deg);
  }
  
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  
  .nav li { 
  padding-left: 20px;
  
  }
  
  .hero {
    background-color: #c5cae9;
    margin: 0;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
     
    
  }
  
  .hero-inner {
    max-width: 600px;
  }
  
  .hero h1 {
    font-weight: normal;
    font-size: 4em;
    margin: 0;
  }
  
  .hero p {
    font-size: 1.18em;
    line-height: 1.6;
  }
  
  .button {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none; 
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18em;
    display: inline-block;
  }
  
  .features {
    background-color: #e8eaf6;
    padding: 60px 40px;
    
  }
  
  .features-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }
  
  .features-item h3 {
    color: #283593;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
  }
  
  features-item p {
    color: #333;
    line-height: 1.6;
    margin: 0;
  }
  
  .footer {
    text-align: center; 
    margin: 0;
    padding: 20px 0;
    color: #999;
    font-size: .9rem;
    
  }
  